<h1>ユーザー一覧</h1>
<div class="users">
<% @users.each do |f| %>
    <div class="user-box">
        <div class="info-left">
            <p>ユーザ名：</p>
            <p>メールアドレス：</p>
            <p>電話番号：</p>
        </div>
        <div class="info-center">
            <p><%= f.name %></p>
            <p><%= f.email %></p>
            <p><%= f.tellnumber %></p>
        </div>
        <div class="info-right">
            <div class="right-top"><p><%= link_to "詳細", user_path(f) %></p></div>
            <div class="right-bottom"><p>削除</p></div>
        </div>
    </div>
<% end %>
</div>

<style>

h1{
    text-align:center;
}

.users{
    margin-top:5%;
}

.user-box{
    width:70%;
    height:150px;
    margin:5% auto;
    background:#ddd;
    font-size:20px;
    display:flex;
}

.info-left{
    width:40%;
    height:150px;
    text-align:right;
}

.info-center{
    width:50%;
    height:150px;
    margin:0 10% 0 40%;
    padding-left:10%;
}

.info-right{
    width:10%;
    height:150px:
    float:right;
}

.right-top{
    height:75px;
}

.right-bottom{
    height:75%;
}

</style>